.category {
  padding: 5rem 0;
  width: 45%;
  margin: 0 auto;

  &-container {
    position: relative;

    &__box {
      &-title {
        font-weight: bold;
        font-size: 1.2rem;
        color: #7f5af0;
        margin-bottom: 0.5rem;
      }
      &-form {
        padding: 1rem;
        border-radius: 0.5rem;
        border: 2px solid #7f5af0;
        display: flex;
        flex-direction: column;

        &__inputs {
          display: flex;
          flex-direction: column;
          margin: 1rem 0;

          label {
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            color: #7f5af0;
          }
          input,
          textarea {
            border: none;
            background-color: transparent;
            border: 1px solid #fffffe;
            padding: 0.5rem;
            color: #fffffe;
            border-radius: 0.5rem;
            outline: none;
            transition: all 0.4s ease-out;

            &:focus {
              border: 1px solid #2cb67d;
              transition: all 0.4s ease-out;
            }
          }
          textarea {
            height: 95px;
            resize: none;
          }
        }
        &__buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;

          button {
            width: 45%;
            height: 45px;
            border-radius: 0.5rem;
            color: #fffffe;
            transition: all 0.4s ease-out;

            &:hover {
              background-color: #7f5af0;
              transition: all 0.4s ease-out;
            }
          }

          &-can {
            background-color: transparent;
            border: 1px solid #fffffe;
          }
          &-com {
            background-color: #2cb67d;
          }
        }
      }
    }
    &__action {
      margin: 1rem 0;
      width: 170px;
      height: 45px;
      background-color: #2cb67d;
      border-radius: 0.5rem;
      color: #fffffe;
      border: none;
      transition: all 0.4s ease-out;

      span {
        margin-left: 0.3rem;
      }

      &:hover {
        background-color: #7f5af0;
        transition: all 0.4s ease-out;
      }
    }
  }
}
